<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.abcs">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ABCS">
        <activity
            android:name=".Payment_remain_fees_invoicepage"
            android:exported="false" />
        <activity
            android:name=".Payment_remaining_fees_paypage"
            android:exported="false" />
        <activity
            android:name=".Payment_collage_fullfee_or_remainfee"
            android:exported="false" />
        <activity
            android:name=".profile_test"
            android:exported="false" />
        <activity
            android:name=".register2"
            android:exported="false" />
        <activity
            android:name=".Adminhome"
            android:exported="false" />
        <activity
            android:name=".Payment_Collage_invoice"
            android:exported="false" />
        <activity
            android:name=".payment_exam_fees"
            android:exported="false" />
        <activity
            android:name=".Payment_hostel"
            android:exported="false" />
        <activity
            android:name=".social_media_login_Activity"
            android:exported="false" />
        <activity
            android:name=".Payment_college_pay_page"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Payment_home_page"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>
    </application>

</manifest>